@use "../../styles/variables.scss" as v;
@use "../../styles/mixins.scss" as m;

h1 {
  font-family: v.$fontHeading;
  font-weight: 100;
  letter-spacing: 8px;

  @include m.laptop {
    font-size: 50px;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}

#cursor {
  color: v.$text-color;
  animation: blink 1s linear infinite;

}

@keyframes blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}
