@use "../../styles/mixins.scss" as m;
@use "../../styles/variables.scss" as v;

.projectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-block: 70px;
  width: 100%;

  @include m.laptop {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "image text";
    padding: 40px;
    margin: 20px;
    gap: 40px;
    border-radius: 5px;
    height: 300px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
    max-width: 60%;
  }

  @include m.tablet {
    max-width: 85%;
  }

  .image {
    flex-shrink: 0;
    margin-bottom: 10px;
    grid-area: image;

    @include m.laptop {
      width: 250px;
      margin-bottom: 0;
    }
  }

  .textContainer {
    grid-area: text;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    @include m.laptop {
      align-items: flex-start;
    }
  }
}

.projectContainerReversed {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 80%;

  @include m.laptop {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "text image";
    box-shadow: 0px 3px 16px rgba(0,0,0,0.1);
    height: 300px;
    padding: 40px;
    margin: 20px;
    border-radius: 5px;
    max-width: 60%;
  }

  @include m.tablet {
    max-width: 85%;
  }

  .image {
    grid-area: image;
  }

  .textContainer {
    grid-area: text;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    @include m.laptop {
      align-items: flex-start;
    }
  }
}

.projectTitle {
  font-family: v.$fontHeading;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  margin-bottom: 10px;
  text-align: center;

  @include m.laptop {
    text-align: left;
  }
}

.description {
  text-align: left;

  @include m.phone {
    text-align: center;
    width: 90%;
  }
}

.projectLinks {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: v.$font;

  @include m.laptop {
    justify-content: flex-start;
  }
}
