$bg-color: #FFF8F0;
$text-color: rgb(1, 4, 24);
$contrast-color-blue: #0224FF;
$contrast-color-yellow: #FFC700;
$contrast-color-pink: #FF4575;


$fontHeading: "Poppins", sans-serif;
$font: "DM Sans", sans-serif;
