@use "../../styles/variables.scss" as v;
@use "../../styles/mixins.scss" as m;

.title {
  font-family: v.$fontHeading;
  margin-block: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 32px;

  .center {
    text-align: center;
  }

  .left {
    text-align: left;
  }
  
  @include m.phone {
    font-size: 28px;
  }

}
