@use "../../styles/mixins.scss" as m;

.iconsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style-type: none;
  gap: 3rem;
  padding-top: 10px;

  @include m.phone {
    gap: 2rem;
  }

  .icon {
    font-size: 60px;

    @include m.phone {
      font-size: 40px;
    }
  }
}
