.aboutContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  flex-wrap: wrap;
  align-content: center;
  line-height: 1.2;
  justify-content: center;

  .aboutText {
    display: block;
    padding-block: 0.4rem;
  }
}
