@use "../../styles/mixins.scss" as m;

.aboutContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  flex-wrap: wrap;
  line-height: 1.2;
  justify-content: center;
  align-items: center;

  .flexContent {
    display: flex;
    align-items: center;
    gap: 50px;

    @include m.phone {
      flex-direction: column;
    }
  }

  .photo {
    width: 200px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
  }

  .aboutText {
    display: block;
    padding-block: 0.4rem;
  }
}
