@use "../../styles/mixins.scss" as m;

.header {
  background: black;
  
  .navTop {
    @include m.phone {
      display: none;
    }
  }
}

.hamburgerNav {
  display: none;

  @include m.phone {
    display: block;
  }
}
