@use "../../styles/mixins.scss" as m;
@use "../../styles/variables.scss" as v;

.navTop {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1.4rem;

  @include m.phone {
    display: none;
  }

  .navMenu {
    display: flex;
    text-transform: uppercase;
    letter-spacing: 3px;
    list-style-type: none;

    .navItem {
      margin-left: 1rem;

      .navLink {
        text-decoration: none;
        font-family: v.$font;
        color: white;
        font-weight: 200;
      }
    }
  }
}
