@use "../../styles/mixins.scss" as m;

.hamburgerNav {
  display: none;

  @include m.phone {
    display: block;
  }

  .hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 6px;
    padding: 1rem;
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 10;

    .bar {
      width: 25px;
      height: 2px;
      background-color: #333;
      transition: all 0.3s;
    }
  }

  .navMenu {
    display: none;
    list-style: none;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background: rgba(255, 255, 255, 0.962);
    z-index: 5;

    &.active {
      display: flex;
    }

    .navItem {
      margin-top: 50px;
      text-transform: uppercase;

      .navLink {
        text-decoration: none;
        color: #333;

        &:hover {
          color: #007bff;
          transition: 0.2s;
        }
      }
    }
  }

  &.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  &.active .bar:nth-child(2) {
    opacity: 0;
  }

  &.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
